body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header{
  height:100px;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section{
  height:70vh;
  background-color: crimson;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer{
  height:100px;
  background-color:blue;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:10px;
}


.navUl{
  display:flex;
  gap:20px
}
a{
  text-decoration: none;
}

.ProfilNav{
  display: flex;
  gap: 20px;
}
.exit{
  background-color: chartreuse;
  padding: 5px;
  cursor:pointer;

}
.login{
  width:30px;
  height:30px;
  border-radius: 50%;
  background-color: green;
}
.logout{
  width:30px;
  height:30px;
  border-radius: 50%;
  background-color: red;
}
